<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WeatherControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <WeatherControl.Properties.Settings>
            <setting name="GoodSettings" serializeAs="String">
                <value>{"Bolt_date":"","Bolt_time":"","TempUnits":"C","WindSpeedUnits":"K","Bolt_SkyTemp":30,"Bolt_Temp":10,"Bolt_SensorTemp":10,"Bolt_WindSpeed":2,"Bolt_Hum":70,"Bolt_DewPoint":-100,"Bolt_Heater":30,"Bolt_RainFlag":0,"Bolt_WetFlag":0,"Bolt_SinceLastMeasure":0,"Bolt_now":0,"Bolt_CloudCond":1,"Bolt_WindCond":1,"Bolt_RainCond":1,"Bolt_DaylighCond":1,"Bolt_RoofCloseFlag":0,"Bolt_AlertFlag":0}</value>
            </setting>
            <setting name="BadSettings" serializeAs="String">
                <value>{"Bolt_date":"","Bolt_time":"","TempUnits":"C","WindSpeedUnits":"K","Bolt_SkyTemp":10,"Bolt_Temp":10,"Bolt_SensorTemp":10,"Bolt_WindSpeed":20,"Bolt_Hum":70,"Bolt_DewPoint":-100,"Bolt_Heater":30,"Bolt_RainFlag":2,"Bolt_WetFlag":2,"Bolt_SinceLastMeasure":0,"Bolt_now":0,"Bolt_CloudCond":3,"Bolt_WindCond":3,"Bolt_RainCond":3,"Bolt_DaylighCond":1,"Bolt_RoofCloseFlag":1,"Bolt_AlertFlag":1}</value>
            </setting>
            <setting name="UseBoltwoodLogic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="decimalPoint" serializeAs="String">
                <value>useLocale</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </WeatherControl.Properties.Settings>
    </userSettings>
</configuration>
